@font-face {
    font-family: 'general-font';
    src: url('fonts/KurdisVariableFamilyTest-Black copy.otf'); 
}

@font-face {
    font-family: 'second-font';
    src: url('fonts/FranieVariableTest-Light.otf'); 
}

body {
    font-family: 'general-font';
    margin: 0; 
    padding: 0;
    background-color: #fff6ea;
}


/* Header Styles */
header {
    background-color: #333;
    color: #fff6ea;
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff6ea
}

section#welcome {
    text-align: center;
    margin: 0;
    padding: 0%;
    color: #333;
}

#welcome h2 {
    font-size: 180px; /* Adjust the font size as needed */
    margin: 0;
    padding: 0;
}

#welcome p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center; /* Justify text */
    line-height: 1.5;
    font-family: second-font; 
}

/* Featured Photo Section */
section#featured-photo {
    text-align: center;
    padding: 0px 0;
}

section#featured-photo img {
    width: 900px;
    height: 670px;
    border-radius: 50%;
}

.logo {
    padding: 0px 0;
}
.logo img {
    width: 180px;
    height: 120px;
}

section#projects {
    text-align: center;
    font-size: 45px;
}

#projects p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center; /* Justify text */
    line-height: 0.1;
    font-family: second-font; 
}

/* Section Styles */
section {
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff6ea;
    padding: 20px;
    text-align: center;
}

.flex-parent-element {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
  }
  
  .flex-child-element {
    flex: 1;
    border: 2px solid #333;
    margin: 10px;
    text-align: center;
    color: #333; /* Text color */
    padding: 10px 20px; /* Padding */
    font-size: 45px; /* Font size */
    font-weight: bold;
  }
  
  .flex-child-element:first-child {
    margin-right: 20px;
  }

/* style for the image container */
.image-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #fff6ea;
    justify-content: center; /* Center the items horizontally */
}

/* style for individual images */
.image-container img {
    width: calc(45% - 45px); /* Adjust the width of each image */
    margin: 0px;
    align-content: center;
}

.image-container p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center; /* Justify text */
    line-height: 0.1;
    font-family: second-font; 
}

/* style for the image container */
.image-container2 {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #fff6ea;
    justify-content: center; /* Center the items horizontally */
}

/* style for individual images */
.image-container2 img {
    width: calc(45% - 45px); /* Adjust the width of each image */
    margin: 0px;
}

/* style for the image container */
.image-container3 {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #fff6ea;
}

/* style for individual images */
.image-container3 img {
    width: calc(25% - 25px); /* Adjust the width of each image */
    margin: 0px;
}


footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

footer address {
    flex-grow: 1;
    text-align: left;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: #fff6ea;
}

footer a:hover {
    text-decoration: underline;
}


